<div class="wrapper flex-wrapper whole-news-flex">
    <div class="news-main-content">
        <h2>{{currentArticles.articleName}}</h2>
        <p class="news-lg-add-info">
            <span>{{currentArticles.authorName}}</span>
            <span>24/01/17</span>
        </p>
        <div class="text-center">
            <img class="news-main-pic" src="{{currentArticles.imgUrl}}"
                 alt="{{currentArticles.articleName}}"
                 width="380" height="214">
        </div>
        <div class="lg-news-text-content">
            <p class="text-bold">{{currentArticles.previewText}}</p>
            <p>{{currentArticles.articleText}}</p>
        </div>

        <!--*ngIf="activeUser"-->
        <div class="text-center">
            <button class="btn-styles">
                редактировать
            </button>
            <button class="btn-styles" (click)="deleteArticle()">
                удалить
            </button>
        </div>
    </div>
    <aside class="lg-news-aside-info">
        <div class="news-box-aside">
            <h3>Последние новости</h3>
            <ul class="news-list-aside">
                <li>
                    <a href="#">
                        Стали известны подробности о появлении 5G в Беларуси
                    </a>
                </li>
                <li>
                    <a href="#">
                        Белорусам разрешили открывать электронные кошельки не выходя из дома

                    </a>
                </li>
                <li>
                    <a href="#">
                        Как изменилось население Беларуси за последние 120 лет. Инфографика
                    </a>
                </li>
                <li>
                    <a href="#">
                        В Бобруйске появится свой хоккейный клуб
                    </a>
                </li>
            </ul>
        </div>
        <div class="text-center">
            <img class="banner-img" src="images/bannerimg.jpg" alt="Курсы Минск">
        </div>
        <div class="news-box-aside">
            <h3>Сегодня читают</h3>
            <ul class="news-list-aside">
                <li>
                    <a href="#">
                        Стали известны подробности о появлении 5G в Беларуси
                    </a>
                </li>
                <li>
                    <a href="#">
                        Белорусам разрешили открывать электронные кошельки не выходя из дома

                    </a>
                </li>
                <li>
                    <a href="#">
                        Как изменилось население Беларуси за последние 120 лет. Инфографика
                    </a>
                </li>
                <li>
                    <a href="#">
                        В Бобруйске появится свой хоккейный клуб
                    </a>
                </li>
            </ul>
        </div>

    </aside>
</div>