<div *ngIf="article" class="wrapper flex-wrapper whole-news-flex">
    <div class="news-main-content">
        <h2>{{article.articleName}}</h2>
        <p class="news-lg-add-info">
            <span>{{article.authorName}}</span>
            <span>{{ article.publishDate | date:"dd/MM/yy" }}</span>
        </p>
        <div class="text-center">
            <img class="news-main-pic" src="{{article.imgUrl}}"
                 alt="{{article.articleName}}"
                 width="380" height="214">
        </div>
        <div class="lg-news-text-content">
            <p class="text-bold">{{article.previewText}}</p>
            <p>{{article.articleText}}</p>
        </div>
        <div class="text-center" *ngIf="hiddenButton">
            <button class="btn-styles" (click)="directToEdit()">
                редактировать
            </button>
            <button class="btn-styles" (click)="deleteArticle(article)">
                удалить
            </button>
        </div>
    </div>
    <asidenews [article]="article" ></asidenews>
</div>
