<h2 class="registered-header">Мои новости:</h2>
<div class="editor-news-block">
    <div class="editor-news-box" *ngFor="let article of articles">
        <div>
            <div class="editor-news-inner-padding">
                <img src={{article.imgUrl}} alt="{{article.articleName}}" width="227" height="142">
                <h3>{{article.articleName}}</h3>
            </div>
            <div class="tool-bar">
                    <span class="news-current-mode {{article.published ? 'news-published-mode': 'news-edit-mode'}}">
                        {{ article.published ? "Опубликованно" : "Редактируется" }}
                    </span>
                <i class="fa fa-globe fa-1x" aria-hidden="true" (click)="publishArticle(article)"></i>
                <i class="fa fa-desktop fa-1x" aria-hidden="true"></i>
                <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
                <i class="fa fa-trash fa-1x" aria-hidden="true" (click)="deleteArticle(article)"></i>
            </div>
        </div>
    </div>
</div>