<h2 class="registered-header">Создание новости</h2>
<form class="registered-form" (ngSubmit)="addArticle(imgUrl.value, articleText.value)">
    <label>Название статьи:</label>
    <input name="articleName" [(ngModel)]="newArticle.articleName" type="text" required>
{{ newArticle.articleName}}
    <label>URL главной картинки:</label>
    <input type="text" #imgUrl>

    <label>Tag статьи:</label>
    <select>
        <option>Экономика</option>
        <option>Спорт</option>
        <option>Общество</option>
    </select>

    <label>Текст статьи:</label>
            <textarea #articleText>
            </textarea>
    <div class="text-center">
        <button class="btn-styles" type="submit" data-operation="savePage">
                <!--(click)="addArticle(articleName.value, imgUrl.value, articleText.value)">-->
            сохранить
        </button>
        <!--<button class="btn-styles" data-operation="publishPage" type="submit">-->
            <!--опубликовать-->
        <!--</button>-->
        <!--<button class="btn-styles" data-operation="previewPage" type="submit">-->
            <!--посмотреть-->
        <!--</button>-->
    </div>
</form>

