<div class="wrapper">
    <!--<button (click)="push()"> click here !</button>-->
    <!--{{ here }}-->

    <article class="news-box-large" *ngFor="let article of (articles | published)">
        <div>
            <img src="{{article.imgUrl}}" alt="{{article.articleName}}" width="310" height="200">
        </div>
        <div class="article-content">
            <h2>
                {{article.articleName}}
            </h2>
            <p class="news-add-info">
                <span>{{article.authorName}}</span>
                <time>{{ article.publishDate | date:"dd/MM/yy" }}</time>
                <span class="tag-box {{article.tag.tag}}-tag">{{article.tag.name}}</span>
            </p>
            <p>
                {{article.previewText}}
            </p>
            <p class="article-read-more">
                <a [routerLink]="['/newsPage', article.id]">Читать дальше</a>
            </p>
        </div>
    </article>
</div>